@import url("noctalia.css");

.thunar {
    opacity: 0.90;
}

.thunar treeview.view,
.thunar treeview,
.thunar .view,
.thunar .standard-view,
.thunar .sidebar {
    background-color: transparent !important;
    background-image: none !important;
}