layout {

    focus-ring {
        active-color   "#6e8faf"
        inactive-color "#242a30"
        urgent-color   "#b07d7d"
    }

    border {
        active-color   "#6e8faf"
        inactive-color "#242a30"
        urgent-color   "#b07d7d"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#6e8faf"
        inactive-color "#1e364d"
        urgent-color   "#b07d7d"
    }

    insert-hint {
        color "#6e8faf80"
    }
}

recent-windows {
    highlight {
        active-color "#6e8faf"
        urgent-color "#b07d7d"
    }
}
